<div class="section">
    <div class="container mt-5">
        <a href="http://localhost:8081/products" class="btn btn-info">Volver al inicio</a>
        <h1>Perfil de Usuario</h1>
        <div>
            <p>Nombre: <span class="email">{{payload.first_name}}</span></p>
            <p>Apellido: <span class="email">{{payload.last_name}}</span></p>
            <p>Email: <span class="email">{{payload.email}}</span></p>
            <p>Edad: <span class="fecha-nacimiento">{{payload.age}}</span></p>
            <p>Rol: <span class="ciudad">{{payload.rol}}</span></p>
        </div>
    </div>
</div>
