
<div class="container mt-5">
    <a href="http://localhost:8081/" class="btn btn-info">Volver al inicio</a>
    <a href="http://localhost:8081/api/carts/67e86f2102e7bb4548da390f" class="btn btn-info">Mi Carrito</a>
    <a href="/logout" class="btn btn-danger">Log-out</a>
    <h1 class="text-center mb-4">NUESTROS PRODUCTOS</h1>

    <div class="mb-4 col-md-6 d-flex flex-row">
        <select name="selector_categorias" class = "form-select" id= "Categorias">
            {{#each miscategorias}}
            <option value="{{this.category}}" {{#if this.selected }} selected {{/if}} >{{this.category}}</option>
            {{/each}}
        </select>

        <select name="selector_orden" class = "ms-2 form-select" id= "Ordenamiento">
            <option value="Ascendente" {{#if ascendenteon }} selected {{/if}}>Ascendente</option>
            <option value="Descendente" {{#if descendenteon }} selected {{/if}}>Descendente</option>
        </select>

        <a href="http://localhost:8081/api/products" class="ms-2 btn btn-danger" id="bttFiltrar">Filtrar</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {{#each payload}}
        <div class="col mb-4">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title text-black">{{this.title}}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <img src={{this.thumbnail}} alt={{this.title}}
                                class="img-fluid mt-2">
                        </li>
                        <li><i class="bi bi-info-circle"></i> ID: {{this.id}}</li>
                        <li><i class="bi bi-file-text"></i> Description: {{this.description}}</li>
                        <li><i class="bi bi-currency-dollar"></i> Price: ${{this.price}}</li>
                        <!--<li><i class="bi bi-grid"></i> Category: {{this.category}}</li> -->
                        <!--<li><i class="bi bi-check-circle"></i> Status: {{this.status}}</li>-->
                        <li><i class="bi bi-box"></i> Stock: {{this.stock}}</li>
                    </ul>
                    <button class="btn btn-primary mb-4" onclick = "addToCart('{{this.id}}')" >Agregar al carrito</button>
                    <a href="http://localhost:8081/api/products/{{this.id}}" class="btn btn-primary ml-2 mb-4">Ver</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="mt-4">
        {{#if prevLink}}
        <a href={{prevLink}} class="btn btn-primary mb-4">Página anterior</a>
        {{/if}}
        {{#if nextLink}}
        <a href={{nextLink}} class="btn btn-primary ml-2 mb-4">Página siguiente</a>
        {{/if}}
    </div>
</div>

<script src="/js/addToCart.js"></script>
<script>
    const categorias = document.querySelector('#Categorias');
    const ordenamiento = document.querySelector('#Ordenamiento');
    console.log(categorias)

    categorias.addEventListener('change', () => {
        let seleccionadoCate = categorias.value == "Todos"? '' : categorias.value ;
        let seleccionadoOrden = ordenamiento.value == "Ascendente"? "asc" : "desc";
        const botonFiltrar = document.querySelector('#bttFiltrar');
        botonFiltrar.href = "http://localhost:8081/api/products/" + "?limit=10&page=&sort=" + seleccionadoOrden+ "&query=" + seleccionadoCate;
    });

    ordenamiento.addEventListener('change', () => {
        let seleccionadoCate = categorias.value == "Todos"? '' : categorias.value ;
        let seleccionadoOrden = ordenamiento.value == "Ascendente"? "asc" : "desc";
        const botonFiltrar = document.querySelector('#bttFiltrar');
        botonFiltrar.href = "http://localhost:8081/api/products/" + "?limit=10&page=&sort=" + seleccionadoOrden+ "&query=" + seleccionadoCate;
    });
</script>